/.nextflow
/work*
/.nextflow.log*
/deduped*
/haplotype*
/clint.sif
/workflow_output
/.mailmap
/slurm*.error
/slurm*.out
/flowchart.png
/timeline.html
/traces/*
/trace*.txt
/output
/dag*.dot
/star_index
/singularity_images
/backup
/no-commit