params.qc = "fastp" // Available Options: fastp, TrimGalore, FastQC (requires own trimming)
params.mapping = "star" // Available Options: hisat2, star
params.assembly = ["Trinity","rnaspades"] // Available Options (choose multiple): STAR, Trinity, RNAspades,
params.quantification = "featureCounts" // Available Options: featureCounts (none other available at the moment)

params.trinity_type="guided" // Available options: guided, denovo

// Whether or not to publish directories to allow them to be viewed (mainly for debugging files)
PUBLISH_DIRECTORIES = 0

// Set some global variables which require linux-based commands. Can also set manually if these are known prior
params.USER_ID = "id -u".execute().text.trim()
params.GROUP_ID = "id -g".execute().text.trim()

params.input_dir = '';  // Folder of origin
params.paired = 0; // yes (1) or no (0)
params.output_dir = "./workflow_output"; // Where to publish files i.e VCFs
params.reference_file = ''; 
params.gff_file = '';
params.num_threads = 4; 
params.max_memory = '50.GB';




// https://github.com/nextflow-io/nextflow/issues/2786

profiles {
	singularity {
		singularity.enabled = true
		singularity.autoMounts = true
        process {
            container = 'file://clint.sif'
            cpus = 4
            withName: HISAT2 {
                cpus = 6
            }
        }
	}	

	docker {
		// Causes errors when doing 'publishDir' related stuff due to permissions
		docker.enabled = true
		docker.temp = 'auto'

        process {

            container = 'file://clint.sif'
            cpus = 4 // Default #cpus to use

            withName: HISAT2 {
                cpus = 6
            }
        }
	}
}

