params.qc = "fastp" // Available Options: fastp, TrimGalore, FastQC (requires own trimming)
params.mapping = "hisat2" // Available Options: hisat2, star
params.assembly = ["Trinity","rnaspades"] // Available Options (choose multiple): STAR, Trinity, RNAspades,
params.quantification = "featureCounts" // Available Options: featureCounts (none other available at the moment)

params.trinity_type="guided" // Available options: guided, denovo

// Whether or not to publish directories to allow them to be viewed (mainly for debugging files)
PUBLISH_DIRECTORIES = 0

// Set some global variables which require linux-based commands. Can also set manually if these are known prior
params.USER_ID = "id -u".execute().text.trim()
params.GROUP_ID = "id -g".execute().text.trim()

params.input_reads_path = '';  // Folder of origin
params.input_reads = "${params.input_reads_path}/*.f*q.gz"; // Matches regex
params.output_dir = "./workflow_output"; // Where to publish files i.e VCFs
params.reference_file = ''; 
params.gff_file = '';
params.num_threads = 4; 
params.max_memory = '8.GB';


// https://github.com/nextflow-io/nextflow/issues/2786
//env {
//   SINGULARITY_TMPDIR = '/tmp'
//   SINGULARITY_CACHEDIR = '/tmp'
//   TMP = '/tmp'
//   TMPDIR = '/tmp'
//   SINGULARITYENV_TMP = '/tmp'
//   SINGULARITYENV_TMPDIR = '/tmp'
//}

process.container = 'file://clint.sif'
singularity {
	enabled = true
	autoMounts = true
	//envWhitelist = ['SINGULARITY_TMPDIR', 'SINGULARITY_CACHEDIR', 'SINGULARITYENV_TMP', 'SINGULARITYENV_TMPDIR', 'TMP', 'TMPDIR']
}

//process.container = 'clint/clint'
//docker {
//    enabled = true
//    temp = 'auto'
//}

