/* 
    * This is a configuration file for the nextflow workflow.
    * In here we will define the programs we want to run throughout the script.
    * For most of them, only one option out of the available ones can be selected.
    * For some of them, we can select multiple (in the case of Assembly/Mapping)
*/
params.qc = "fastp" // Available Options: fastp, TrimGalore, FastQC (requires own trimming)
params.mapping = "hisat2" // Available Options: hisat2, star
params.assembly = ["Trinity","nothing"] // Available Options (choose multiple): STAR, Trinity, RNAspades,
params.quantification = "featureCounts" // Available Options: featureCounts (none other available at the moment)

params.trinity_type="guided" // Available options: guided, denovo

// Whether or not to publish directories to allow them to be viewed (mainly for debugging files)
PUBLISH_DIRECTORIES = 0

COMMAND_MAP = [
    "fastp": "something"
]

FASTP_COMMAND=""
HISAT_COMMAND=""
STAR_COMMAND=""
BWA_COMMAND=""
TRINITY_COMMAND=""
TRINITY_GG_COMMAND=""
QUANTIFICATION_COMMAND=""


// Set some global variables which require linux-based commands. Can also set manually if these are known prior
params.USER_ID = "id -u".execute().text.trim()
params.GROUP_ID = "id -g".execute().text.trim()



params.input_reads_path = '.'; // Default to the current directory
params.reference_file = ''; 
params.gff_file = '';
params.num_threads = 4;
params.max_memory = '8.GB';
